.chat-messages-container {
    flex-grow: 1;
    overflow-y: scroll;
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Edge */
.chat-messages-container::-webkit-scrollbar {
    display: none;
}