.app-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
    padding-top: 20px;
    overflow: hidden;
    box-sizing: border-box;
}